.wrapper {
    display: flex;
    flex-direction: row;
    min-width: 700px;
    max-width: 1170px;
    width: 1000px;
    margin: 0 auto;
    gap: 50px;
    justify-content: center;
}

.form-wrapper {
    border: 1px solid black;
    padding: 7px
}

.preview-wrapper {
    border: 1px solid red;
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 50px;
}

.input {
    margin-bottom: 10px;
    width: 20rem;
}

.personal-info-prew {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
}

.preview-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 27px;
}